header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(178, 59, 178);
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: space-between;
}

nav ul div {
  border: 2px solid red;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color:white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:black;
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav ul li:hover a {
  color: black;
}

nav ul li.profile-icon {
  display: flex;
  align-items: center;
}

nav ul li.profile-icon button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
