.contact-section {
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-top: 1px solid #444;
}

.contact-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-media h2,
.contact-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social-media ul {
  list-style-type: none;
  padding: 0;
}

.social-media ul li {
  margin-bottom: 5px;
}

.social-media ul li a {
  color: #fff;
  text-decoration: none;
}

.social-media ul li a:hover {
  text-decoration: underline;
}

.contact-info p {
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}
